<!DOCTYPE html>
<html lang="en">
<head>
    <title>Errors</title>
    <%- include('../layout/head') %> 
</head>
<body>
    <header> 
        <h1 class="errorH1">Something has gone wrong!</h1>
        <a class="errorLink" href="/">Go Home</a>

    </header>

    <footer>
        <%- include('../layout/footer') %> 
    </footer>
</body>
</html>