<!DOCTYPE html>
<html lang="en">

<head>
  <title>We are in index EJS </title>
  <!-- <link rel="stylesheet" href="styles/reset.css"> -->
  <link rel="stylesheet" href="styles/base.css">
  <link rel="stylesheet" href="styles/modules.css">
  <link rel="stylesheet" href="styles/layout.css">

</head>

<body>
  <header>
    <h1> Best Books !</h1>
  </header>
  <main>
    <h2> Search By a Title Or Author </h2>
    <form action="/searches" method="post">
      <input id="searchbox" name="search" placeholder='Enter a Title Or Author' style="color: black;" />
      <br><br>

      <label class="container">Title
        <input type="radio" name="searchtype" value="title">
        <span class="checkmark"></span>
      </label>

      <label class="container">Author
        <input type="radio" name="searchtype" value="author">
        <span class="checkmark"></span>
      </label>

      <button class="searchbutton" type="submit"> Search The Google Books API</button><br><br>
    </form>


    
  </main>
</body>

</html>