<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Server Proof Of Life </title>
    <link rel="stylesheet" href="styles/icons.css">

</head>
<body>
    <Header> Heeey , I am A Live </Header>

    <main>

        Welcome All :) 
    </main>

    <footer>
        CopyRight &copy; New Book App 2020
    </footer>
</body>
</html>