/* Styling index ejs  */

main h2 {
    background-color: dimgrey;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 0px auto;
}

  /******** Text box and radio button **********/

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }

  /* Text box input */
#searchbox {
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 30px;
    padding: 20px;
    width: 350px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    border-radius: 10px;
}

  /******** show page **********/

.bookdetails {
    position: relative;
    text-align: center;
    background-color: rgb(172, 175, 175);
    border: 3px solid gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    font-style: oblique;
    font-weight: bold;
    padding: 20px;
  }

.bookdescp {
  background-color: rgb(245, 237, 237);
  border: 1px solid white;
  border-radius: 10px;
  font-family: cursive;
  overflow: auto;
}

.booktitle {
  color: white;
  text-shadow: 2px 2px black;
  font-size: larger;
}

.booktype {
  font-style: italic;
}

.selectbutton {
  margin-left: 0px;
}

.searchbutton {
  margin-left: 55px;
}

.submit input {
  background-color: black;
  color: white;
  margin-right: 25px;
  padding: 10px;
  width: 50%;
  font-family: 'Playfair Display', serif;
  font-size: large;
}